/* BASE */
  .taleo-wrap {
    background: $white;
    margin-top: -63px;
  }

  .taleo {
    padding-top: 170px;
    padding-bottom: 150px;

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    .main {
      background: $white;
      padding-top: 70px;
    }

    .applyBtnTopDiv,.applyBtnBottomDiv {
      margin-top: 10px;
    }

    .applyBtnBottomDiv {
      margin-top: 50px;
    }

    .sf_applybtn {
      background: $link-color;
      color: $white;
      width: 150px;
      height: 45px;
      margin: 5px auto;
      display: block;
      border: none;
      font-family: $sans-serif;
      text-align: center;
      font-size: 16px;
      line-height: 45px;

      button {
        background: none;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        display: block;
      }
    }

    .referrAfriend {
      display: block;
      margin: 0 auto;
    }

    .referrAfriendButton {
      color: $link-color;
      background: none;
      width: 100%;
      border: none;
      display: inline-block;
      text-align: center;

      span {
        background: url(../images/arrow-right-red.png) no-repeat 100% center;
        padding-right: 20px;
      }
    }

    .divPageContent {
      width: 95%;
      margin: 0 auto;
    }

    .jobdescriptiontbl {
      max-width: 830px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 28px;

      h3 {
        margin-bottom: 40px;
        font-family: $sans-serif;
        font-size: 26px;
        text-align: center;

        &:after {
          content: ' ';
          background: $link-color;
          display: block;
          width: 80px;
          height: 4px;
          margin: 12px auto;
          text-align: center;
        }
      }
    }
  }

/* 768UP */
  @media only screen and (min-width: 768px) {

    .taleo {
      width: 95%;
      max-width: 960px;
      margin: 0 auto;
      padding-top: 140px;

      .main {
        padding-top: 40px;
      }

      h1 {
        margin-bottom: 40px;
      }

      .divPageContent {
        width: 100%;
      }

      .applyBtnTopDiv,.applyBtnBottomDiv {
        margin: 10px auto;
        max-width: 830px;

        &:after {clear: both; content: ''; display: block; height: 0; visibility: hidden;}
      }

      .sf_applybtn,.referrAfriend {
        margin: 0;
        float: left;
      }

      .referrAfriend {
        margin: 10px 0 0 20px;
      }

      .jobdescriptiontbl {
        clear: both;

        h3 {
          text-align: left;

          &:after {
            margin: 12px 0;
          }
        }
      }

      .desc-bot {
        margin: 45px 0;
        padding-top: 45px;
        border-top: 3px solid #ebe9e4;
      }
    }

  }
/* END 768UP */

/* 960UP */
  @media only screen and (min-width: 960px) {

    .taleo {

      .sf_applybtn {
        transition: .25s;

        &:hover {
          background: $link-hover;
        }
      }

      .referrAfriendButton {
        transition: .25s;

        &:hover {
          color: $link-hover;
        }
      }
    }

  }
/* END 960UP */
