#contactForm_outerDiv {
  margin: 0 !important;
  padding: 0 !important;
}

#contactForm_panelBorder {
  width: 100% !important;
}

#contactForm_panelBorder tr td {
  border: none !important;
}

#contactForm_panelBorder tr td b {
  border: none !important;
}

.tn-fields-tbl {
  width: 100%;
}

.tn-fields-tbl tr td span:nth-of-type(2) {
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 13px;
}

.tn-fields-tbl tr td input,.tn-fields-tbl tr td textarea {
  padding: 4px;
  margin-bottom: 5px;
  width: 100% !important;
  height: auto !important;
  font-size: 16px;
  padding: 4px;
  margin-bottom: 20px;
  border-radius: 0;
  box-sizing: border-box;
}

.tn-fields-tbl tr td select {
  width: 100% !important;
  height: auto !important;
  font-size: 16px;
  padding: 4px;
  margin-bottom: 20px;
  display: block;
  border: 1px solid #cccccc;
}

.tn-fields td {
  width: 100%;
  display: block;
  text-align: left !important;
}

#tn_ja_a_criteria {
  color:#d57800;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.RadForm input[type="checkbox"], .RadForm input[type="radio"], .RadForm input[type="checkbox"][checked], .RadForm input[type="radio"][checked] {
  margin-right: 5px !important;
}

#contactForm_cmd0 {
  color: #fff;
  background: #ff9e1b;
  width: 200px !important;
  display: block;
  margin: 5px auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  border: none;
  transition: background .3s;

  &:hover {
    background: #d57800;
  }
}

.td-job-alert input[type='checkbox'] {
  width: 20px !important;
}





/***************/

.talent-form-wrap {

  .header {
    background: none;
    height: 140px;
    position: relative;
    z-index: 9999;
    opacity: 1;
    transition: .25s;

    &:before {
      content: '';
      background: #485cc7;
      transform: skewY(-2.5deg);
      transform-origin: 100% 0;
      position: absolute;
      right: -12px;
      left: -12px;
      top: -335px;
      height: 410px; // height and top will usually be the same
      z-index: 999;
      -webkit-backface-visibility: hidden; // this fixes an issue with Chrome on some PCs
    }

    .inner {
      width: 100%;
      max-width: 960px;
      margin: 0 auto;
      position: relative;
      z-index: 9999;
    }

    h1 {
      background: url(https://www.nestletechcareers.com/library/images/logo.png) no-repeat;
      // background: url(https://nestletechcareers.s3.amazonaws.com/smashfly-assets/logo.png) no-repeat;
      background-size: 211.5px 53px;
      width: 211.5px;
      height: 53px;
      margin: 0 0 0 10px;
      position: absolute;
      top: 30px;
      text-indent: -9999px; outline: none;
    }
  }/* header */

  .main {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 2.5%;
  }

  p.center {
    text-align: center;
  }

  .content {
    width: 90%;
    margin: 0 auto;

    p {
      text-align: center;
    }
  }

  h2 {
    color: #485cc7;
    margin: 40px auto 20px auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
  }

  h3 {
    color: #555;
    width: 95%;
    max-width: 500px;
    margin: 0 auto 40px auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }

  h4 {
    color: #b3aa91;
    margin: 0;
    padding: 15px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    text-align: center;
  }

  p {
    color: #555;
    font-family: 'Arial', sans-serif;
    font-size: 16px;

    a {
      color: #ff9e1b;
      text-decoration: none;
      font-size: 16px;
    }

    &.note {
      margin: 30px 0 0 0;
      font-size: 12px;

      span {
        color: #ff9e1b;
      }
    }
  }

  .social {
    margin: 0;
    text-align: center;

    li {
      display: inline-block;
    }
  }

  .form {
    max-width: 565px;
    margin: 0 auto;
  }

  .tn-fields {

    span {
      color: #4a4542;
      margin-right: 5px;
      font-family: 'Roboto', sans-serif, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 18px;
    }
  }

  .footer {

    p {
      color: #888888;
      margin: 30px auto;
      text-align: center;
      font-family: 'antenna-regular', sans-serif;
      font-size: 12px;

      a {
        color: #888;
        text-decoration: underline;
        font-size: 12px;
      }
    }
  }
}

/* 720UP */
  @media only screen and (min-width: 720px) {

    .RadForm input[type="checkbox"], .RadForm input[type="radio"], .RadForm input[type="checkbox"][checked], .RadForm input[type="radio"][checked] {
      width: auto !important;
      margin-right: 5px !important;
      margin-left: 175px;
    }

    .talent-form-wrap {

      h2 {
        font-size: 60px;
        line-height: 60px;
        margin-top: 96px;
      }

      h3 {
        width: 100%;
        font-size: 30px;
        line-height: 35px;
      }

      .tn-fields {

        span {
          font-size: 13px;
        }
      }

    }

  }/* 720 */