@font-face {
  font-family: 'nestle_text_tfbold_cnd';
  src: url('https://www.nestletechcareers.com/library/fonts/nestletexttf-boldcnd-webfont.woff2') format('woff2'), url('https://www.nestletechcareers.com/library/fonts/nestletexttf-boldcnd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nestle_text_tfbook_cnd';
  src: url('https://www.nestletechcareers.com/library/fonts/nestletexttf-bookcnd-webfont.woff2') format('woff2'), url('https://www.nestletechcareers.com/library/fonts/nestletexttf-bookcnd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nestle_text_tflight_cnd';
  src: url('https://www.nestletechcareers.com/library/fonts/nestletexttf-lightcnd-webfont.woff2') format('woff2'), url('https://www.nestletechcareers.com/library/fonts/nestletexttf-lightcnd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'nestle_text_tfbold';
  src: url('https://www.nestletechcareers.com/library/fonts/nestletexttf-bold-webfont.woff2') format('woff2'), url('https://www.nestletechcareers.com/library/fonts/nestletexttf-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nestle_text_tfbold_italic';
  src: url('https://www.nestletechcareers.com/library/fonts/nestletexttf-bolditalic-webfont.woff2') format('woff2'), url('https://www.nestletechcareers.com/library/fonts/nestletexttf-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nestle_text_tfbook';
  src: url('https://www.nestletechcareers.com/library/fonts/nestletexttf-book-webfont.woff2') format('woff2'), url('https://www.nestletechcareers.com/library/fonts/nestletexttf-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nestle_text_tflight';
  src: url('https://www.nestletechcareers.com/library/fonts/nestletexttf-light-webfont.woff2') format('woff2'), url('https://www.nestletechcareers.com/library/fonts/nestletexttf-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nestle_text_tflight_italic';
  src: url('https://www.nestletechcareers.com/library/fonts/nestletexttf-lightitalic-webfont.woff2') format('woff2'), url('https://www.nestletechcareers.com/library/fonts/nestletexttf-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nestle_text_tfitalic';
  src: url('https://www.nestletechcareers.com/library/fonts/nestletexttf-italic-webfont.woff2') format('woff2'), url('https://www.nestletechcareers.com/library/fonts/nestletexttf-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nestle_brushregular';
  src: url('https://www.nestletechcareers.com/library/fonts/nestlebrush-regular-webfont.woff2') format('woff2'), url('https://www.nestletechcareers.com/library/fonts/nestlebrush-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nestle_script_office_araRg';
  src: url('https://www.nestletechcareers.com/library/fonts/nestlescriptofficeara-regular-webfont.woff2') format('woff2'), url('https://www.nestletechcareers.com/library/fonts/nestlescriptofficeara-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
