/* BASE */
  .main-header {
    // background: $link-color;
    width: 100%;
    height: 80px;
    position: fixed;
    transition: .3s;
    z-index: 99999;

    .logo {
      width: 135px;
      height: 40px;
      margin: 22px 0 0 20px;
      transition: .3s;
    }

    &.sticky {
      background: $link-color;
      height: 70px;

      .logo {
        margin-top: 15px;
      }

      .hamburger {
        top: 9px;
      }
    }
  }

/* 960UP */
  @media only screen and (min-width: 960px) {

    .main-header {

      .inner {
        width: 960px;
        margin: 0 auto;
      }

      .logo {
        width: 199px;
        height: 60px;
      }

      &.sticky {

        .logo {
          width: 135px;
          height: 40px;
        }
      }
    }

  }
/* END 960UP */