/* BASE */
  .talent-network {
    color: $darkgray;
    padding: 70px 0;
    border-bottom: 2px solid #f2f2f2;
    border-top: 2px solid #f2f2f2;

    .icon-envelope {
      width: 36px;
      height: 28.5px;
      margin: 0 auto 9px auto;
      display: block;
    }

    h4 {
      @include roboto-light;
      font-size: 35px;
      line-height: 35px;
      text-align: center;
    }

    p {
      padding: 0 20px;
      @include roboto-light;
      font-size: 20px;
      line-height: 25px;
      text-align: center;

      &.button {
        width: 225px;
        margin: 0 auto;
        @include roboto-bold;
      }
    }
  }

/* 650UP */
  @media only screen and (min-width: 650px) {

    .talent-network {

      .icon-envelope {
        width: 41px;
      }

      h4 {
        font-size: 45px;
        line-height: 45px;

        br {
          display: none;
        }
      }

      p {
        font-size: 25px;
        line-height: 30px;
      }
    }

  }
/* END 650UP */

/* 960UP */
  @media only screen and (min-width: 960px) {

    .talent-network {
      max-width: 960px;
      margin: 0 auto;

      p {
        width: 600px;
        margin: 20px auto 30px auto;
      }
    }

  }
/* END 960UP */